body, h1, h2, h3, h4, a, p {
	margin: 0;
	font-family: "Trebuchet MS";
}

header {
	height: 60px;
	padding:5px 40px 0 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 3px solid #ccc;
}

.header-left{
	display: flex;
	align-items: center;
}

.header-logo {
	background-repeat: no-repeat;
	width: 10%;
}

.found-name,
.item-list-name{
	border: 2px solid red;
	font-size: 35px;
	padding-left: 80px;
	margin-bottom: 35px;
	background-color: #53ea93;
}

.found{
	transform: translateY(-300%);
	opacity: 0;
}

.found,
.item-list{
	border: 2px solid #ccc;
	background-color: ;
	margin: 20px 20px 20px 20px; 
}

.found.-active{
	transform: translateY(0);
	opacity: 1;
}

.item{
	display: inline-block;
	height: 200px;
	min-width: 262px;
	border: 2px solid #ccc;
	border-radius: 7px;
	margin:0 50px 35px 50px;
	padding-top: 80px;

	text-align: center;
	background-color: #f4f4f4;
}

.item:hover{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.items-icon {
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 45px;
}

.items-name{
	margin: 0 0 10% 5%;
	font-size: 23px;
}

.items-ID{
	margin-left: 5%; 
	font-size: 20px;
}

.item-image-container {
	padding: 10px;
	background-color: white;
	border-radius: 4px;
	text-align: center;
	width: 65px;
	margin: 0 auto 15px;
}